{% extends 'base.html' %}

{% block title %} Streets {% endblock %}

{% block content %}

    <style>
        .custom-background {
            background-color: rgba(87, 95, 94, 0.852);
            padding: 10px; 
            border-radius: 5px; 
            border: 2px solid #575f5e;
        }

        .custom-search-btn {
            background-color: #1e534f; 
            border-color: #41c6a2; 
            color: white; 
        }

        .custom-search-btn:hover {
            background-color: #41c6a2;
            border-color: #1e534f;
        }

        a:hover {
            background-color: #41c6a2; 
            border-color: #1e534f;
            border-radius: 5px; 
        }

        #resultContainer {
            background-color: rgba(87, 95, 94, 0.852);
            padding: 10px;
            border-radius: 5px;
            border: 2px solid #575f5e;
        }
    </style>

    <div class="container mt-5">
        <h1>Find the streets in your area to recharge your car!</h1>
        <p class="custom-background">Select a specific area to find out all the locations where you can find charging stations. </p>

        <!-- WTForms Form to get input from the user -->
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.area_name.label }}
                <select name="area_name" class="form-control">
                    <option value="error_message">-no selection-</option>
                    {% for value, label in form.area_name.choices %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            {{ form.submit(class="btn custom-search-btn") }}
        </form>
         <!-- Display the result here -->
        <div id="resultContainer" class="mt-3">
            {% if result %}
                <ul>
                    {% for street in result[2:-2].split('","') %}
                        <li>{{ street }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if error_message %}
                <p class="text-danger">{{ error_message }}</p>
            {% endif %}
        </div>



{% endblock %}



