{% extends 'base.html' %}

{% block title %} Homepage of E-Atlas Milano {% endblock %}

{% block content %}

    <style>
        h1,h3 {
            margin: 0 auto;
            width: fit-content;
        }

        .custom-background {
            background-color: rgba(87, 95, 94, 0.852);
            padding: 10px; 
            border-radius: 5px; 
            border: 2px solid #575f5e;
        }

        a:hover {
            background-color: #41c6a2; 
            border-color: #1e534f;
            border-radius: 5px; 
        }
    </style>
    <div class="container mt-5">
        <h1>Hello, traveler!</h1>
        <h3>Welcome to our EV Charging Station Information Hub!<br><br></h3>
        <p class="custom-background">Our software provides quick access to essential data regarding electric vehicle charging stations in Milan. 
            
            <br>Here's what you can do in each section:
            <br>
            <br>1. &nbsp;Number of charging stations:
            <br>By providing the name of the street you are on, you will get 
            the number of charging stations currently present in that street.
            <br>
            <br>2. &nbsp;Providers:
            <br>You can select from a drop down menu your charging stations' provider,
            to get the location of all their charging stations, their type, and the number of charging points in each location.
            <br>
            <br>3. &nbsp;Socket type:
            <br>By providing the name of the street you are on and the house number, you will get 
            the type of charging station you're looking at.
            <br>
            <br>4. &nbsp;Streets:
            <br>You can select from a drop down menu the name of the area you need, and you'll get
            the location of all charging stations currently present in that area.
            <br>
            <br>5. &nbsp;Your provider given street name:
            <br>By providing the name of the street you are on, you will get 
            the provider for the charging stations on that street.
            <br>
            <br>
            Our software aims to simplify your EV charging station search by providing precise and detailed information, 
            ensuring a seamless experience for electric vehicle owners in Milan.
        </p>
    </div>

{% endblock %}
