{% extends 'base.html' %}

{% block title %} Number of Stations {% endblock %}

{% block content %}

    <style>
        .custom-background {
            background-color: rgba(87, 95, 94, 0.852);
            padding: 10px; 
            border-radius: 5px; 
            border: 2px solid #575f5e;
        }

        .custom-search-btn {
            background-color: #1e534f; 
            border-color: #41c6a2; 
            color: white; 
        }

        .custom-search-btn:hover {
            background-color: #41c6a2;
            border-color: #1e534f;
        }

        a:hover {
            background-color: #41c6a2; 
            border-color: #1e534f;
            border-radius: 5px; 
        }

        #resultContainer {
            background-color: rgba(87, 95, 94, 0.852);
            padding: 10px;
            border-radius: 5px;
            border: 2px solid #575f5e;
        }
    </style>

    <div class="container mt-5">
        <h1>Find the number of charging stations in each street!</h1>
        <p class="custom-background">By entering the name of the street you're loking for, you'll get 
            the number of charging stations currently present in that street.</p>

        <!-- WTForms Form to get input from the user -->
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.street_name.label }}
                {{ form.street_name(class="form-control", placeholder="Enter street name for the city of Milan") }}
            </div>
            {{ form.submit(class="btn custom-search-btn") }}
        </form>

        <!-- Display the result here -->
        <div id="resultContainer" class="mt-3">
            {% if result %}
                <p>{{ result }}</p>
            {% endif %}
            {% if error_message %}
                <p class="text-danger">{{ error_message }}</p>
            {% endif %}
        </div>
        

    </div>

{% endblock %}
